@use './partials/mixins.scss' as *;
@use './partials/variables.scss' as *;

* {
    font-family: 'Mukta', sans-serif;
}

.border {
    border: 2px solid limegreen;
}

.crimson-font {
    font-family: 'Crimson Text', serif;
}