@use './partials/mixins.scss' as *;
@use './partials/variables.scss' as *;

* {
    font-family: 'Mukta', sans-serif;
}

.my_border {
    border: 2px solid limegreen;
}

.crimson-font {
    font-family: 'Crimson Text', serif;
}

// sass section di Appmusic riutilizzabile per altre parti simili  
#sec_title {
    // background-color: $bg-color-dark;

    .custom_title {
        height: 6rem;

        h1 {
            font-size: 2.1rem;
        }
    }
}

.custom_hr {
    color: $white;
    width: 9rem;
}

#sec_parag {
    font-size: .7rem;
    color: $p-text;
}

// fine sass di AppMusic
// appNews -> parte finale da riutilizzare 
.latestNews {
    height: 5rem;
    background-color: $theme-color;
    transition: background-color linear 0.3s;

    p {
        font-size: 0.6rem;
        color: inherit;
        transition: color linear 0.3s;
    }

    &:hover {
        background-color: $white;

        // DA CONTROLLARE!!! NON FUNZIONA L'HOVER CHE DOVREBBE CAMBIARE IL TESTO DA BIANCO A NERO
        & p {
            color: black;
        }
    }
}

// fine parte appNews